{
  "parser": "babel-eslint",
  "env": {
      "browser": true,
      "node": true
  },
  "plugins": [
      "react",
      "react-native"
  ],
    "ecmaFeatures": {
    "jsx": true
  },
  "extends": [
      "eslint:recommended",
      "plugin:react/recommended"
  ],
  "rules": {
  }
}
